/* Reset and Body Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh; /* Increase for more scrolling space */
    overflow: hidden;
}

/* Parallax Layer Base Styles */
.parallax {
    position: absolute;
    width: 100%;
    height: auto; /* Allow images to maintain their aspect ratio */
    top: 0;
    object-fit: cover; /* Ensures images cover their space properly */
}

/* Sky Layer */
.layer-sky {
    width: 1960px;
    top: calc(60% - 200px);
    left: calc(50% + 10px);
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Cloud Layers */
.layer-clouds-center,
.layer-clouds-center-2,
.layer-clouds-left,
.layer-clouds-right {
    z-index: 2;
}

.layer-clouds-center {
    width: 1200px;
    top: calc(90% - 430px);
    left: calc(45% + 5px);
    transform: translate(-50%, -50%);
}

.layer-clouds-center-2 {
    width: 1200px;
    top: calc(90% - 310px);
    left: calc(45% + 10px);
    transform: translate(-50%, -50%);
}

.layer-clouds-left {
    width: 1200px;
    top: calc(90% - 370px);
    left: calc(10% + 20px);
    transform: translate(-50%, -50%);
}

.layer-clouds-right {
    width: 1200px;
    top: calc(90% - 270px);
    left: calc(60% + 125px);
    transform: translate(-50%, -50%);
}

/* Mountain and Grass Layers */
.layer-mountains,
.layer-grasses {
    z-index: 2;
}

.layer-mountains {
    width: 1960px;
    top: calc(97% - 270px);
    left: calc(50% + 20px);
    transform: translate(-50%, -50%);
}

.layer-grasses {
    width: 1960px;
    top: calc(89% - 110px);
    left: calc(50% + 20px);
    transform: translate(-50%, -50%);
}

/* House Layers */
.layer-house1,
.layer-house2,
.layer-house3 {
    z-index: 2;
}

.layer-house1 {
    width: 1300px;
    top: calc(85% - 240px);
    left: calc(58% + 15px);
    transform: translate(-50%, -50%);
}

.layer-house2 {
    width: 2500px;
    top: calc(90% - 50px);
    left: calc(30% + 65px);
    transform: translate(-50%, -50%);
}

.layer-house3 {
    width: 1100px;
    top: calc(86% - 190px);
    left: calc(90% + 40px);
    transform: translate(-50%, -50%);
}

/* People Layer */
.layer-people {
    width: 1200px;
    top: calc(100%- 360px);
    left: calc(48% + 15px);
    transform: translate(-50%, -50%);
    z-index: 2;
}
